table{
    width: 50%;
    text-align: center;
    border: solid 1px black;
    margin:auto;
    border-collapse:collapse;
}
td, th{
    border: solid 1px black;
}
thead{
    background-color: rgba(46, 32, 4, 0.445);
    color: white;
}
tfoot{
    background-color: bisque;
    font-weight: bold;
}
caption{
    color: black;
    margin-top: 20%;
    margin-bottom: 2%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 200%;

}